@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5256ad;

}

.drag-area{
    border: 2px dashed #fff;
    height: 400px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon{
    font-size: 80px;
    color: #fff;
}

.drag-area header{
    font-size: 30px;
    font-weight: 500;
    color:#fff;
}

.drag-area span{
    font-size: 25px;
    font-weight: 500;
    color:#fff;
    margin: 10px;
}

.drag-area button{
    padding: 10px 25px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #484c97;
    border-radius: 5px;
    cursor: pointer;
}
.drag-area button:hover{
    color: #313472;
}

.drag-area img{
    height: 100%;
    width: 100%;
     object-fit: contain;
    border-radius: 5px;
}
